<div class="page-width feature-row">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if section.settings.image != blank %}
        {% capture img_id %}FeatureRowImage-{{ section.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ section.id }}{% endcapture %}
        {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style', image: section.settings.image, height: 545, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ section.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ section.settings.image.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ section.settings.image | img_url: '600x600', scale: 2 | img_tag: section.settings.image.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }}">
      {% if section.settings.title != blank %}
        <h2 class="h3">{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte rte-setting featured-row__subtext">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        {%- capture ariaLabel -%}
          {{- section.settings.button_label -}}
          {%- if section.settings.button_link.type == 'frontpage_link' -%}
            : {{ 'homepage.general.title' | t -}}
          {%- elsif section.settings.button_link.type == 'catalog_link' -%}
            : {{ 'collections.catalog.title' | t -}}
          {%- elsif section.settings.button_link.object.title -%}
            : {{ section.settings.button_link.object.title -}}
          {%- endif -%}
        {%- endcapture -%}

        <a href="{{ section.settings.button_link }}"
          class="btn"
          aria-label="{{ ariaLabel }}">
          {{- section.settings.button_label | escape -}}
        </a>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {
    "da": "Billede med tekst",
    "de": "Foto mit Text",
    "en": "Image with text",
    "es": "Imagen con texto",
    "fi": "Kuva tekstillä",
    "fr": "Image avec texte",
    "hi": "टेक्स्ट वाली इमेज",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "ko": "텍스트 포함 이미지",
    "nb": "Bilde med tekst",
    "nl": "Afbeelding met tekst",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com texto",
    "sv": "Bild med text",
    "th": "รูปภาพพร้อมข้อความ",
    "zh-CN": "带文本的图片",
    "zh-TW": "附文字的圖片"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "select",
      "id": "layout",
      "label": {
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fi": "Kuvan tasaus",
        "fr": "Alignement de l'image",
        "hi": "इमेज पंक्तिबद्ध करना",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "ko": "이미지 정렬",
        "nb": "Bildejustering",
        "nl": "Afbeelding uitlijnen",
        "pt-BR": "Alinhamento da imagem",
        "pt-PT": "Alinhamento da imagem",
        "sv": "Bildjustering",
        "th": "การจัดวางรูปภาพ",
        "zh-CN": "图片对齐方式",
        "zh-TW": "圖片對齊"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "hi": "बाएँ",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "zh-CN": "左侧",
            "zh-TW": "左方"
          }
        },
        {
          "value": "right",
          "label": {
            "da": "Højre",
            "de": "Rechts",
            "en": "Right",
            "es": "Derecha",
            "fi": "Oikea",
            "fr": "Droite",
            "hi": "दाएँ",
            "it": "Destra",
            "ja": "右",
            "ko": "오른쪽",
            "nb": "Høyre",
            "nl": "Rechts",
            "pt-BR": "Direita",
            "pt-PT": "Direita",
            "sv": "Höger",
            "th": "ด้านขวา",
            "zh-CN": "右侧",
            "zh-TW": "右方"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with text",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        
        "en": "<p>Made to give your hair all the care it needs, our new product combines the best quality ingredients. Give your hair a treatment it deserves and enjoy a new, fresh look.</p>"
       
      }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "da": "Knaptekst",
        "de": "Button-Etikett",
        "en": "Button label",
        "es": "Etiqueta de botón",
        "fi": "Tekstipainike",
        "fr": "Texte du bouton",
        "hi": "बटन लेबल",
        "it": "Etichetta pulsante",
        "ja": "ボタンのラベル",
        "ko": "버튼 레이블",
        "nb": "Knappetikett",
        "nl": "Knoplabel",
        "pt-BR": "Etiqueta de botão",
        "pt-PT": "Etiqueta do botão",
        "sv": "Knappetikett",
        "th": "ป้ายกำกับปุ่ม",
        "zh-CN": "按钮标签",
        "zh-TW": "按鈕標籤"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "da": "Knaplink",
        "de": "Button-Link",
        "en": "Button link",
        "es": "Enlace de botón",
        "fi": "Painikelinkki",
        "fr": "Lien du bouton",
        "hi": "बटन लिंक",
        "it": "Link pulsante",
        "ja": "ボタンのリンク",
        "ko": "버튼 링크",
        "nb": "Kobling for knapp",
        "nl": "Knoplink",
        "pt-BR": "Link de botão",
        "pt-PT": "Ligação do botão",
        "sv": "Knapplänk",
        "th": "ลิงก์ปุ่ม",
        "zh-CN": "按钮链接",
        "zh-TW": "按鈕連結"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Billede med tekst",
        "de": "Foto mit Text",
        "en": "Image with text",
        "es": "Imagen con texto",
        "fi": "Kuva tekstillä",
        "fr": "Image avec texte",
        "hi": "टेक्स्ट वाली इमेज",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "ko": "텍스트 포함 이미지",
        "nb": "Bilde med tekst",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "pt-PT": "Imagem com texto",
        "sv": "Bild med text",
        "th": "รูปภาพพร้อมข้อความ",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}
