<section class="brand-logos">
    <div class="collection-title">
        <h2>{{ section.settings.logo_heading}}</h2>
        <span>{{ section.settings.logo_subheading}}</span>
    </div>
    <div class="container brands ">
         <section class="customer-logos slider">
     
            {% for block in section.blocks %}
            {%- if block.settings.logo_image != blank -%}
            <div class="slide"><img src="{{ block.settings.logo_image | img_url: '150x' }}"></div>
            {% else %}
           
            <div class="slide"><img src="{{ 'vegnews.jpg' | asset_url }}"></div>
            <div class="slide"><img src="{{ 'livekindly.jpg' | asset_url }}"></div>
            <div class="slide"><img src="{{ 'essence.jpg' | asset_url }}"></div>
            <div class="slide"><img src="{{ 'peta.jpg' | asset_url }}"></div>
            <div class="slide"><img src="{{ 'veganlife.jpg' | asset_url }}"></div>
            {% endif %}
            {% endfor%}
         </section>
      </div>
    </section>

<script>
$('.customer-logos').slick({
  centerMode: true,
  centerPadding: '50px',
  slidesToShow: 4,
  autoplay: true,
  autoplaySpeed: 2000,
  arrows: false,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        centerMode: true,
        centerPadding: '20px',
        slidesToShow: 3,
        autoplay: true,
  autoplaySpeed: 2000,
      }
    },
    {
      breakpoint: 480,
      settings: {
        centerMode: true,
        centerPadding: '20px',
        slidesToShow: 1,
        autoplay: true,
  autoplaySpeed: 2000
      }
    }
  ]
});
				

  //Brand Logos Animation Slider
//   $(document).ready(function(){
//     $('.customer-logos .slider ').slick({
//         slidesToShow: 4,
//         slidesToScroll: 1,
//         autoplay: true,
//         autoplaySpeed: 1500,
//         arrows: false,
//         dots: false,
//         pauseOnHover: false,
//         responsive: [{
//             breakpoint: 768,
//             settings: {
//                 slidesToShow: 3
//             }
//         }, {
//             breakpoint: 520,
//             settings: {
//                 slidesToShow: 2
//             }
//         }]
//     });
// });
</script>

    {% schema %}
{
  "name": "Featured Brands Slider",
  "settings": [
    {
      "type": "text",
      "id": "logo_heading",
      "label": "Heading 1",
      "default": "Featured On"
    },
    {
        "type": "text",
        "id": "logo_subheading",
        "label": "Heading 2",
        "default": "Media"
      }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Select Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Logos",
      "category": "Image",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        },
        {
            "type": "image_block"
          },
          {
            "type": "image_block"
          }
      ]
    }
  ]
}
{% endschema %}
