
<div class="hero-container">
 
    {% for block in section.blocks %}
    {%- if block.settings.slider_image != blank -%}
    <div class="hero-slide">
      <img src="{{ block.settings.slider_image | img_url: '1200x'}}">
      <div class="hero-text">
        <h1>{{section.settings.hero_h1}}</h1>
        <p>{{section.settings.hero_p}} </p>
        <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
  </div>
    </div>
{% else %}
    <div class="hero-slide">
      <img src="{{ 'models2.jpeg' | asset_url }}">
      <div class="hero-text">
        <h1>Summer Collection </h1>
        <p>Check out hydrating collection for summer fun </p>
        <a href="#">Shop Now</a>
  </div>
    </div>
    <div class="hero-slide"><img src="{{ 'models3.jpeg' | asset_url }}">
      <div class="hero-text">
        <h1>Summer Collection</h1>
        <p>Check out hydrating collection for summer fun</p>
        <a href="#">Shop Now</a>
  </div>
    </div>
    <div class="hero-slide"><img src="{{ 'models4.jpeg' | asset_url }}">
      <div class="hero-text">
        <h1>Summer Collection</h1>
        <p>Check out hydrating collection for summer fun </p>
        <a href="#">Shop Now</a>
  </div>
    </div>
 {% endif %}
    {% endfor %}



</div> 
<script type="text/javascript">

$(document).ready(function(){
  $('.hero-container').slick({
  infinite: true,
  speed: 200,
  loop: true,
  fade: true,
  autoplay: true,
  cssEase: 'linear',
    adaptiveHeight: false
  });
});

</script>





{% schema %}
  {
      "name": "Hero Slideshow",
    "settings": [
   
   {
				"type": "text",
				"id": "hero_h1",
				"label": "Hero Title",
        "default": "Summer Collection"
      },
      {
				"type": "text",
				"id": "hero_p",
				"label": "Hero Paragraph Title",
          "default": "Check out our hydrating collection for summer fun"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Shop Now",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "color",
        "id": "hero_title_color",
        "label": "Hero Title Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "hero_p_color",
        "label": "Hero Paragraph Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_font_color",
        "label": "Button Font Color",
        "default": "#ff13a7"
      },
      {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Background Color",
        "default": "#ffffff"
      },{
        "type": "color",
        "id": "button_border_color",
        "label": "Button Border Color",
        "default": "#ff13a7"
      }
      ],
      "blocks": [
      {
        "type": "image",
        "name": "Image For Slideshow",
        "limit": 5,
      "settings": [
      
        {
          "id": "slider_image",
          "type": "image_picker",
          "label": "Chose Your Image"
        }
      ]
    }
      ],
  "presets": [
    {
      "name": "Hero Slideshow",
      "category": "Image"
    }
  ]  
      }  
   
   {% endschema %}

