<section class="sale-promo">
        
    <div class="overlay">
    <a href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
</div>

<div class="promo-bg">
    {%- if section.settings.promo_image != blank -%}
    <a href="{{ section.settings.button_link }}"><img src="{{ section.settings.promo_image | img_url: '900x'}}"></a>
    {% else %}
    <a href="{{ section.settings.button_link }}"><img src="{{ 'makeup-flower.png' | asset_img_url: '600x' }}"></a>
    {% endif %}
</div>
</section>

{% schema %}
  {
      "name": "Current Promotion",
      
    "settings": [
        {
            "id": "promo_image",
            "type": "image_picker",
            "label": "Chose Your Image"
          },
      {
        "type": "text",
        "id": "button_text",
        "label": "Shop Now",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
      ],
      "presets": [
    {
      "name": "Current Promotion",
      "category": "Image"
    }
  ] 
      }  
   
   {% endschema %}

